{% extends 'base.html' %}

{% block title %} Flask Sijax {% endblock %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-5">Flask-Sijax</h1>
        </div>

        <form id="myForm"class="form-inline" method="POST" action="">
            <div class="form-group mx-sm-3 mb-2">
                    {{ form.text.label(class_="mr-3") }}
                    {{ form.text(class_="form-control") }}
            </div>
            {{ form.submit(class_="btn btn-primary mb-2")}}

            <a class="btn btn-success mb-2" href="javascript://" onclick="Sijax.request('sijax_search', [$('#text').val()]);" >Sijax Search</a>
        </form>

        <table class="table mt-3">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Text Field Value</th>
                </tr>
            </thead>
            <tbody id="test_body">
                {% for result in results %}
                    <tr>
                        <td>{{ result.id }}</td>
                        <td>{{ result.text }}</td>
                    </tr>
                {% endfor%}
            </tbody>
        </table>

    </div>

    <script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript"
        src="/static/js/sijax/sijax.js"></script>
    <script type="text/javascript">
        {{ g.sijax.get_js()|safe }}
    </script>
{% endblock %}